<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CXAdSDKDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
				<key>dateExpires</key>
				<string>2026/8/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CXBDAdapter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CXFWAdapter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CXJADAdapter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>1</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
								<key>dateExpires</key>
								<string>2026/8/25</string>
								<key>type</key>
								<string>Cloud Managed Apple Distribution</string>
							</dict>
							<key>name</key>
							<string>CXJAdSDK.framework</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>XU44ZAN547</string>
								<key>name</key>
								<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
							</dict>
							<key>versionNumber</key>
							<string>1.0</string>
						</dict>
					</array>
					<key>name</key>
					<string>CXJAdSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CXQMAdapter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QuMengAdSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>121A6E09E6038ECEFDFB07EBDEC739E393F1E256</string>
						<key>dateExpires</key>
						<string>2026/8/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XU44ZAN547</string>
						<key>name</key>
						<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XU44ZAN547.com.zcjs.CXAdSDKDemo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XU44ZAN547</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>CXAdSDKDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f05aadac-b599-40f2-8a36-3754a9782e70</string>
				<key>dateExpires</key>
				<string>2026/8/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.zcjs.CXAdSDKDemo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XU44ZAN547</string>
				<key>name</key>
				<string>Hubei Zhongchen Jiashi Information Technology Co., Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
